# Agenda

1. Reading in times and dates
2. The "dt" accessor
3. Intervals
4. Queries on intervals
5. Time indexes
6. Resampling 

Mirrored at: https://github.com/reuven/geekle-2021-april-9

In [2]:
%pylab inline
import pandas as pd
from pandas import Series, DataFrame

Populating the interactive namespace from numpy and matplotlib

In [3]:
!ls *.csv

celebrity_deaths_2016.csv  taxi.csv

In [4]:
df = pd.read_csv('taxi.csv')

In [5]:
df.shape

(9999, 19)

In [6]:
df.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'pickup_longitude',
       'pickup_latitude', 'RateCodeID', 'store_and_fwd_flag',
       'dropoff_longitude', 'dropoff_latitude', 'payment_type', 'fare_amount',
       'extra', 'mta_tax', 'tip_amount', 'tolls_amount',
       'improvement_surcharge', 'total_amount'],
      dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               9999 non-null   int64
 1   tpep_pickup_datetime   9999 non-null   object
 2   tpep_dropoff_datetime  9999 non-null   object
 3   passenger_count        9999 non-null   int64
 4   trip_distance          9999 non-null   float64
 5   pickup_longitude       9999 non-null   float64
 6   pickup_latitude        9999 non-null   float64
 7   RateCodeID             9999 non-null   int64
 8   store_and_fwd_flag     9999 non-null   object
 9   dropoff_longitude      9999 non-null   float64
 10  dropoff_latitude       9999 non-null   float64
 11  payment_type           9999 non-null   int64
 12  fare_amount            9999 non-null   float64
 13  extra                  9999 non-null   float64
 14  mta_tax                9999 non-null   float64
 15  tip_amount             9999 non-null   float64
 16  tolls_amount           9999 non-null   float64
 17  improvement_surcharge  9999 non-null   float64
 18  total_amount           9999 non-null   float64
dtypes: float64(12), int64(4), object(3)
memory usage: 1.4+ MB

In [8]:
df = pd.read_csv('taxi.csv', 
                usecols=['tpep_pickup_datetime',
                        'tpep_dropoff_datetime',
                        'passenger_count',
                        'trip_distance',
                        'total_amount'])

In [9]:
df.head()

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,total_amount
0,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,17.80
1,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,8.30
2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,11.00
3,2015-06-02 11:19:31,2015-06-02 11:39:02,1,2.13,17.16
4,2015-06-02 11:19:32,2015-06-02 11:32:49,1,1.40,10.30

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   tpep_pickup_datetime   9999 non-null   object
 1   tpep_dropoff_datetime  9999 non-null   object
 2   passenger_count        9999 non-null   int64
 3   trip_distance          9999 non-null   float64
 4   total_amount           9999 non-null   float64
dtypes: float64(2), int64(1), object(2)
memory usage: 390.7+ KB

In [ ]:
df = pd.read_csv('taxi.csv', 
                usecols=['tpep_pickup_datetime',
                        'tpep_dropoff_datetime',
                        'passenger_count',
                        'trip_distance',
                        'total_amount'],
                parse_dates=['tpep_pickup_datetime',
                            'tpep_drop'])